
.-discord:before { content: '\e800'; } /* '' */
.-gamejolt:before { content: '\e801'; } /* '' */
.-happyface:before { content: '\e802'; } /* '' */
.-spotify:before { content: '\e804'; } /* '' */
.-steam:before { content: '\e805'; } /* '' */
.-reddit:before { content: '\e806'; } /* '' */
.-soundcloud:before { content: '\e807'; } /* '' */
.-twitch:before { content: '\e808'; } /* '' */
.-twitter_x:before { content: '\e809'; } /* '' */
.-itchio:before { content: '\e80a'; } /* '' */
.-buymeacoffee:before { content: '\e80b'; } /* '' */
.-tiktok:before { content: '\e80c'; } /* '' */
